/* Medium devices (desktops, 992px and up) */
@media(min-width:992px) and (max-width:1199px) {

.slinks-xs>a:nth-of-type(1)>i{
    color: #3B5998;
    margin-left: 2px;
}
.slinks-xs>a:nth-of-type(2)>i{
    color: #1DA1F2;
    margin-left: 2px;
}
.slinks-xs>a:nth-of-type(3)>i{
    color: #E62117;
    margin-left: 1px;
}
.slinks-xs>a:nth-of-type(4)>i{
    color: #F36F24;
}
/*nav bar*/
nav>li>a {
    margin-left: 3.2vw;
}
.navbar {
	min-height: 20px;
}
.navbar-header {
    float: right;
}
.navbar-nav>li {
    float: right;
}
.navbar-nav>li>a {
    padding-top: 3px;
    padding-bottom: 3px;
}
.navbar-default{
	background-color: #e3e3e3;
	margin-top:3px;
	direction: rtl;
	border-radius: 0;
	height: 32px;
}
.navbar-right{
	direction: rtl;
	float: right;
	font-family: 'AraJozoor-Regular',Sans-Serif; 
	margin-right:6.08vw; 
}
ul.nav.navbar-nav.navbar-right{
	padding-right: 0;
	width: 93vw;
    height: 25px;
    margin: 0 auto;
    float: none !important;
}
.navbar-default .navbar-nav>.home>a,
 .navbar-default .navbar-nav>.home>a:focus,
  .navbar-default .navbar-nav>.home>a:hover{
  	font-size: 1.28vw;
  	color: #3498db;
  	font-family: 'AraJozoor-Regular',Sans-Serif; 
  	background-color: #f0eded;
  }
.navbar-default .navbar-nav>.home>a:hover{
	border-style: none;
	border-bottom: solid #3498db 5px;
}
.navbar-default .navbar-nav>li>a{
	font-size: 1.28vw;
	margin-left: 3.2vw;
	float: right;
	text-align: center;
	color: #393939;
}
.navbar-default .navbar-nav>li>a:hover{
	border-style: none;
	border-bottom: solid #3498db 5px;
}
.navbar-toggle {
    padding: 1px 10px;
}
/*nav-bar End*/
.navbar-right {
    margin: 0 auto;
}
.navbar-default .navbar-nav>li>a {
    margin-left: 2.2vw;
}	
.shape-head>h6{
	line-height: 21px;
}
.new-adds-content>h2 {
    margin-top: -3px;
    margin-right: -6px;
}
.view-now {
    height: 378px;
}
.page-content-item>h4 {
  margin:0;
  position: absolute;
  bottom: 3px;
  left: 60px;
}
.page-content-item>h2 {
  margin:0;
  position: absolute;
  bottom: 3px;
  right: 10px;
}
.page-content-item>h3 {
  margin:0;
  position: absolute;
  bottom: 3px;
  left: 50%
}
.shape-head>h6{
  line-height: 21px;
}
.item>h6 {
  line-height: 21px;
}
.video-control>.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: 135px;
}
.video-control>.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: 135px;
}
.page-content-footer>.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: 215%;
}
.page-content-footer>.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin-left:215%;
}
.page-content-footer>h5 {
    line-height: 23px;
}









 }


