@charset "utf-8";
@font-face {
	font-family: 'AraJozoor-Regular';
	src: url('../../styles/fonts/AraJozoor-Regular.eot');
	src: local('☺'), url('../styles/fonts/AraJozoor-Regular.woff') format('woff'), url('../styles/fonts/AraJozoor-Regular.ttf') format('truetype'), url('../styles/fonts/AraJozoor-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

body{
	direction: rtl;
	font-family: 'AraJozoor-Regular',Sans-Serif;
	margin: 10px 15px 0 15px;
	background-color: #FFFFFF;
}
 .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
 	float: right;
 	direction: rtl;
 }
 .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
 	float: right;
 	direction: rtl;
 }
 .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
 	float: right;
 	direction: rtl;
 }
.container-fluid{
	direction: rtl;
}
.header-elements{
	direction: rtl;
}
/*header elements start*/
.logo-img{
	height: 75px;
	width:  357px;
	float: right;
	margin-right: 0px;
	padding-top:  0px;
	text-align:   right;
}
#search-form{
	height: 58px;
	margin-top: 8px; 
	border-radius: 30px;
	border-color: #19b5fe;
	border-width: 2px;
	border-style: solid;
	display: block;
	float: right;
}
.search-select{
	width: 11vw;
	height: 40px;
	margin: 7px 10px 7px 0px;
	padding-right: 9px;
	padding-left: 9px;
	border-radius: 30px;
	border-color: #19b5fe;
	border-width: 1px;
	border-style: solid;
	float: right;
	font-family: 'AraJozoor-Regular',Sans-Serif; 
	color: #393939;
	font-size: 1.53vw;
	background: url("../images/search-arrow.png") no-repeat scroll 0 0 ;
	background-position-x:10px;
	background-position-y:15px;
    -webkit-appearance:none;
    appearance:none;
    -moz-appearance:none;
    direction: rtl;
}
.option{
	font-size: 10pt;
}
.search-bar{
	width: 13vw;
	height: 40px;
	margin: 7px 0px 7px 0px;
	border-radius: 10px;
	border-color: #fff;
	border-width: 0px;
	float: right;
	
}
input[type=submit]{
	background: url("../images/search-ico.png") no-repeat scroll 0 0 ;
	margin: 8px 0px 7px 9px;
	border: none;
	width: 37px;
	height: 36px;
	float: right;
	line-height: 100%;
}

.slinks-xs{
    margin-top: 9px;
}
.slinks-xs>a:nth-of-type(1)>i{
    color: #3B5998;
    margin-left: 5px;
}
.slinks-xs>a:nth-of-type(2)>i{
    color: #1DA1F2;
    margin-left: 5px;
}
.slinks-xs>a:nth-of-type(3)>i{
    color: #E62117;
    margin-left: 5px;
}
.slinks-xs>a:nth-of-type(4)>i{
    color: #F36F24;
}

/* Header End */

.h-space{
	min-height: 5px;
}

/* home-page start */
.content-wpr{
	min-height: 530px;
	border-radius: 11px;
	border-style: solid;
	border-width: 1px;
	border-color: #76caf2;
	float: right;
	background-color: #e3e3e3;
	margin-bottom: 10px;
}
.right-col{
	padding: 0;
}
#right-col-wpr{
	padding-left: 0;
}
.shape-head{
	background-color: #c8c7c7;
	border-radius: 30px 30px 30px 30px;
	min-height: 25px;
	margin-top: 5px;
}
.shape-head>h6{
	text-align: center;
	font-size: 19px;
	margin-top: 0;
	margin-bottom:0;
	line-height: 25px;
}
.shape-head{
	background-color: #c8c7c7;
	border-radius: 30px 30px 30px 30px;
	height: 25px;
	margin-top: 5px;
}
.info-txt{
	float: right;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 70px;
	margin-left: 20px;
}
.author-img{
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	max-height: 70px;
	max-width: 85px;
}
.hr-split{
	margin-top: 0;
	padding: 0;
	background-color: #C8C7C7;
}
.content{
	min-height: 320px;
}
.content>p{
	text-align: justify;	
	line-height: 35px;
	font-size: 17px;
}
#hr-end-split{
	margin-top: 40px;
	padding: 0;
	background-color: #C8C7C7;
}
.content-footer>a{
	float: left;
	color: #3498DB;
	margin-top: 6px;
}
.content-footer>a:hover{
	color: #333333;	
}
.content-footer>h1{
	float: right;	
	font-size: 14px;
	margin: 0;
	margin-top: 6px;
	margin-left: 10px;
}
.content-footer>h6{
	float: right;	
	font-size: 14px;
	margin: 0;
	margin-top: 6px;
}
.share-links{
	float: right;
	margin-right:10px; 
	margin-bottom: 10px;
}
.share-links>a:nth-of-type(1)>i{
	color: #3B5998;
}
.share-links>a:nth-of-type(2)>i{
	color: #1DA1F2;
}
.share-links>a>i:hover{
	color: #333333;
}
.view-now{
	height: 363px;
	border-radius: 11px;
	border-style: solid;
	border-width: 1px;
	border-color: #76caf2;
	float: right;
	background-color: #e3e3e3;
	margin-bottom: 10px;
}

/* view-now-block Start*/
.views-counter{
	clear: both;
	margin-top: 10px;
}
.views-counter>h6,.views-counter>h5{
	text-align: center;
	font-size: 17px;
}
.view-now-content{
	clear: both;
	margin-top: 60px;
	width: auto;
}
.content-view-block {
	width: 100%;
	margin-right: 0;
}

.visits{
	float: left;
	position: absolute;
	bottom: 4px;
	left: 5px;
	color: #333333;
}
#h-space-view-now{
	height: 0px;
}
.view-now-content>h4{
	font-size: 15px !important; 
	margin-bottom: 0 !important;
	margin-top: 15px !important;
}
.content-view-block{
	margin-top: 11px !important;
}

.new-adds-content{
	height:55px;
	width:100%;
	background-color:#C8C7C7 ;
	margin-top:11px;
	margin-right:0px;
}
.new-adds-content>h2{
	font-size: 17px;
	float: right;
	margin-top: 3px;
	margin-right: 0;
	color: #333333;
}
.new-adds-content:hover{
	background-color: #3498db;
}
.new-adds-content:hover>h2{
	color: #ffffff;
}
.new-adds-content:hover>h4{
	color: #ffffff;
}
.footer{
	background: url("/main/images/footer-bg.jpg") repeat-x;
	width: 100%;
	height:75px;
}
.footer>h4{
	line-height: 54px;
	text-align: left;
}
.footer>h4:nth-of-type(2){
	text-align: right;
}
